@page
@model WebApp.Pages.MovieModel
@{
}
<script src="~/js/pages/movie.js?v=3"></script>

<h1>Movies List</h1>

<div class="bs-docs-section">

    <div class="row">
        <legend> Movies list</legend>
        <div class="col-lg-12">

            <table id="tblMovies" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Release Date</th>
                        <th>Genre</th>
                        <th>Director</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="bs-component">
            <form>
                <fieldset>
                    <legend>Movie Form</legend>

                    <div class="form-group">
                        <label for="txtId" class="form-label mt-4">User ID</label>
                        <input id="txtId" readonly type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txttitle" class="form-label mt-4">title</label>
                        <input id="txttitle" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txtdescription" class=" form-label mt-4">description</label>
                        <input id="txtdescription" type="text" class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="txtreleaseDate" class="form-label mt-4">releaseDate</label>
                        <input id="txtreleaseDate" type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txtgenre" class="form-label mt-4">genre</label>
                        <input id="txtgenre" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txtdirector" class="form-label mt-4">director</label>
                        <input id="txtdirector" type="text" class="form-control">
                    </div>
                </fieldset>
            </form>

            <form>
                <div class="form-group">
                    <label for="txtbuscarId" class="form-label mt-4">Digite el ID que deseas buscar</label>
                    <input id="txtbuscarId" type="text" class="form-control">
                    <button id="btnBuscarId" type="button" class="btn btn-outline-secondary mt-2">Buscar por ID</button>
                </div>

                <div class="form-group">
                    <label for="txtbuscarTitle" class="form-label mt-4">Digite el título que deseas buscar</label>
                    <input id="txtbuscarTitle" type="text" class="form-control">
                    <button id="btnBuscarTitle" type="button" class="btn btn-outline-secondary mt-2">Buscar por Título</button>
                </div>
            </form>

            <br>
            <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button">Save</button>
            <button id="btnUpdate" class="source-button btn btn-info btn-xs" type="button">Update</button>
            <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button">Delete</button>
        </div>

    </div>

</div>


                        